* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(221, 207, 201, 0.719);
    box-shadow: 0px -1px 19px -2px rgb(255, 255, 255);
    border: 5px solid white;
    border-radius: 200px 0px 90px 0px;
    margin: auto;
    padding: 110px 110px 110px 125px;
    width: 785px;
    font-family: "Arial Nova";
}

/*styling the header for index.html*/
header {
    background-color: rgba(255, 255, 255, 0.24);
    border: 5px solid white;
    color: white;
    padding: 40px;
    text-align: center;
}

/*additional styling for the about.html page*/
#about {
    border: 5px solid white;
    text-align: center;
}

#about h2 {
    color: white;
    border-bottom: 5px solid white;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

#about p {
    color: white;
    padding: 20px;
}

/*beginning of styling the nav block and its child elements*/
nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.myAnchors {
    background-color: rgba(221, 207, 201, 0.719);
    display: inline-block;
    padding: 10px;
}

.myAnchors > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.myAnchors > a:hover {
    color: white;
    text-shadow: 0px 0px 6px rgb(177, 148, 115);
}
/*ending of styling the nav block and its child elements*/

/*beginning of styling the main block and its child elements*/
article {
    border: 5px solid white;
    margin: 30px 0px 30px 0px;
}

article h2 {
    color: white;
    padding: 20px 0px 5px 0px;
    text-decoration: underline;
    text-align: center;
}

img {
    border: 2px solid white;
    box-shadow: 0px -1px 13px -6px rgba(120,120,120,1);
    margin: 26px 10px 10px 40px;
    float: left;
    width: 150px;
}

section {
    display: inline-block;
    margin: 55px 0px 65px 20px;
}

span:first-child{
    color:white;
    font-weight: bold;
}

span:nth-child(2){
    color: rgba(128, 128, 128, 0.822);
    font-size: 18px;
    text-decoration: underline;
}

span:nth-child(2) > a {
    color: rgba(128, 128, 128, 0.822);
}

span:nth-child(2) >a:hover {
    color: gray;
}

#table {
    display:table;
    border: 3px solid white;
    border-collapse:collapse;
    color: gray;
    margin:auto;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.tr {
    display:table-row;
    border: 3px solid white;
}

.td {
    display: table-cell;
    border: 3px solid white;
    padding: 10px 30px 10px 30px;
}

.tr:first-child {
    background-color: rgba(255, 255, 255, 0.356);
    font-weight: bold;
}
/*ending of styling the main block and its child elements*/

/*beginning of styling the aside block and its child elements*/
aside {
    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 0px -1px 19px -2px rgb(255, 255, 255);
    border: 5px solid white;
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 1;
    width: 309px;
    height: 533px;
}

aside:hover {
    visibility: hidden;
}

aside p {
    padding: 10px 0px 10px 0px;
    color: white;
    text-shadow: 0px 0px 6px rgb(177, 148, 115);
    text-align: center;
}

iframe {
    height: 403px;
}
/*ending of styling the aside block and its child elements*/

/*beginning of styling the footer*/
footer{
    border: 5px solid white;
    position: relative;
    height: 345px;
}
h3 {
    border-bottom: 5px solid white;
    color: white;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

form {
    text-align: center;
    position: absolute;
    right: 74px;
    bottom: 1px;
}

label {
    color: gray;
    font-weight: bold;
}

input[type=text] {
    background-color:rgba(255, 255, 255, 0.418);
    color:rgba(128, 128, 128, 0.76);
    margin: 5px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    border: 3px solid white;
    width: 380px;
}

textarea {
    background-color:rgba(255, 255, 255, 0.418);
    color:rgba(128, 128, 128, 0.76);
    margin: 5px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    border: 3px solid white;
    width: 380px;
    height: 100px;
}

input[type=submit], input[type=reset], input[type=button] {
    background-color: white;
    box-shadow: 0px -1px 19px -2px rgb(255, 255, 255);
    border-radius: 0px 200px 0px 200px;
    padding: 20px 40px 20px 40px;
    border: none;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
    background-color: rgba(255, 255, 255, 0.521);
}
/*ending of styling the footer*/